<!DOCTYPE html>
<html>
    <head>
        <title>"Basic Classification using Iris data set with Encog and .NET";</title>
    </head>
    <body>
        <div>
            In this example, we will write an application that will take the Iris training data, load it into an array, and display the array in a table.
        </div>
        <div>
           File upload utility that will be used to put iris data (CSV) on the server.

            <input id="File1" type="file" />
        </div>
    </body>
</html>
